[submodule "repos/ripgrep"]
	path = repos/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
	shallow = true
[submodule "repos/zero2prod"]
	path = repos/zero2prod
	url = https://github.com/LukeMathWalker/zero-to-production.git
	shallow = true
[submodule "repos/zed"]
	path = repos/zed
	url = https://github.com/zed-industries/zed.git
	shallow = true
